# Database Neon PostgreSQL
DATABASE_URL="postgresql://user:password@ep-xxx-pooler.region.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require"

# UploadThing Cloud Storage
UPLOADTHING_TOKEN="eyJ..."
UPLOADTHING_SECRET="sk_live_..."
UPLOADTHING_APP_ID="..."

# Auth & Backend Server
JWT_SECRET="your_jwt_secret_key"
PORT=5000
